<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Info</title>

</head>

<body>

<h1>Hello Student!</h1>
<br><br>

<span th:text = "${student.fName}+ ' ' + ${student.lName}"/>

<br><br>

<span th:text = "'Country ' +${student.country}"/>

<br><br>

<span th:text = "'Favourite Language: ' +${student.favouriteLang}"/>

<br><br>

Favourite OS:
<ul>
    <li th:each="tempOS : ${student.favouriteOS}" th:text="${tempOS}"/>
</ul>

<br><br>
</body>
</html>


