<!DOCTYPE HTML>
<html lang ="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Form</title>
</head>

<body>

<h3>Student Registration Form</h3>

<form th:action="@{/process-student-form}" th:object = "${student}" method="POST" >

    First Name: <input type="text" th:field="${student.fName}" placeholder="Enter Your First Name?"/>
    <br><br>
    Last Name: <input type="text" th:field="${student.lName}" placeholder="Enter Your Last Name?"/>
    <br><br>
    Country:
    <select th:field="${student.country}">
        <option th:value="Brazil">Brazil</option>
        <option th:value="France">France</option>
        <option th:value="German">German</option>
        <option th:value="India">India</option>
    </select>
    <input type="submit">
</form>

</body>
</html>


