<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Form</title>
</head>

<body>

<h3>Student Registration Form</h3>

<form th:action="@{/process-student-form}" th:object = "${student}" method="POST" >

    First Name: <input type="text" th:field="${student.fName}" placeholder="Enter Your First Name?"/>
    <br><br>

    Last Name: <input type="text" th:field="${student.lName}" placeholder="Enter Your Last Name?"/>
    <br><br>

    Country:
    <select th:field="${student.country}">

        <option th:each="tempCountry: ${countries}" th:value="${tempCountry}" th:text="${tempCountry}"/>

    </select>
    <br><br>

    Favourite Programming Language:
    <input type="radio" th:field="${student.favouriteLang}" th:each="tempLanguage: ${languages}" th:value="${tempLanguage}" th:text="${tempLanguage}"/>

    <br><br>

    Favourite Operating Systems:
    <input type="checkbox" th:field="*{favouriteOS}" th:each="tempOS: ${OSs}" th:value="${tempOS}" th:text="${tempOS}"/>


    <br><br>
    <input type="submit"/>
</form>

</body>
</html>


